<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-9 mt-5">
            <div class="card">
                <div class="card-body">

                    <!--When No Leads Found-->
                    <div class="row justify-content-center" *ngIf="Leads?.length <= 0">
                        <div class="col-6 col-md-6">
                            <p>No Leads found</p>
                        </div>
                        <div class="col-6 col-md-6 justify-content-end">
                            <button class="btn btn-primary mr-3" data-toggle="modal" data-target="#AddModal1" style="float: right;"> Add Leads </button>
                        </div>
                    </div>

                    <!--When Leads available-->
                    <div *ngIf="Leads?.length >= 1">
                        <div class="row justify-content-end">
                            <button class="btn btn-primary mb-3 mr-3" data-toggle="modal" data-target="#AddModal1"> Add Leads </button>
                        </div>
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let items of Leads;index as i">
                                    <td>{{i+1}}</td>
                                    <td>{{items.name | uppercase}}</td>
                                    <td>{{items.email}}</td>
                                    <td>{{items.phone}}</td>
                                    <td>
                                        <i class="fa fa-pencil mr-4" aria-hidden="true" (click)="singleOnclick(items._id)" data-toggle="modal" data-target="#UpdateModal"></i>
                                        <i class="fa fa-trash-o" aria-hidden="true" (click)="delete(items._id)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="AddModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form [formGroup]="leadForm" (ngSubmit)="submit(leadForm)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Leads</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <div class="form-group col-12 col-md-12">
                        <label for="name1">Name</label>
                        <input type="text" placeholder="Name" id="name1" class="form-control" formControlName="name">
                        <div class="req" *ngIf="name.invalid && (name.dirty || name.touched)">
                            <span *ngIf="name.errors.required">
                                Name is required.
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-12 col-md-12">
                        <label for="email1">Email</label>
                        <input type="email" placeholder="Email" id="email1" class="form-control" formControlName="email">
                        <div class="req" *ngIf="email.invalid && (email.dirty || email.touched)">
                            <span *ngIf="email.errors.required">
                                Email is required.
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-12 col-md-12">
                        <label for="phone1">Phone</label>
                        <input type="number" placeholder="Phone" id="phone1" class="form-control" formControlName="phone">
                        <div class="req" *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                            <span *ngIf="phone.errors.required">
                                Phone is required.
                            </span>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" [disabled]="!leadForm.valid" class="btn btn-primary" value="save">
                    <input type="button" hidden data-dismiss="modal" id="closeModal1">
                </div>
            </div>
        </form>
    </div>
</div>




<!-- Update Modal -->
<div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="UpdateModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="UpdateModal">Update Leads</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="form-group col-12 col-md-12">
                        <label for="name1">Name</label>
                        <input type="text" placeholder="Name" id="name1" class="form-control" name="nam1" [(ngModel)]="UpdateForm.name">

                    </div>

                    <div class="form-group col-12 col-md-12">
                        <label for="email1">Email</label>
                        <input type="email" placeholder="Email" id="email1" class="form-control" name="em1" [(ngModel)]="UpdateForm.email">

                    </div>

                    <div class="form-group col-12 col-md-12">
                        <label for="phone1">Phone</label>
                        <input type="number" placeholder="Phone" id="phone1" class="form-control" name="phon1" [(ngModel)]="UpdateForm.phone">

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary" value="save" (click)="Update()">
                    <input type="button" hidden data-dismiss="modal" id="closeUpdateModel1">
                </div>
            </div>
        </form>
    </div>
</div>