<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4 mt-5">
            <h2 *ngIf="leadNum >= 1">Total Leads</h2>
            <h2 *ngIf="leadNum <= 0">Oops !</h2>

            <div class="progress" *ngIf="leadNum <= 0">
                <div class="progress-bar" role="progressbar" style="width:0%">
                </div>
                <span class="text-primary" id="noLeads">No Leads Found</span>

            </div>

            <div *ngIf="leadNum >= 1">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:{{leadNum}}%;">
                        <span>{{leadNum}} </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>