<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-9 mt-5">
            <div class="card">
                <div class="card-body">

                    <!--When No Compaign Found-->
                    <div class="row justify-content-center" *ngIf="Compaigns?.length <= 0">
                        <div class="col-6 col-md-6">
                            <p class="pt-2">No Compains found</p>
                        </div>
                        <div class="col-6 col-md-6 justify-content-end">
                            <button class="btn btn-primary mr-3" data-toggle="modal" data-target="#addCompaign" style="float: right;"> Add Compaign </button>
                        </div>
                    </div>

                    <!--When Compaign available-->
                    <div *ngIf="Compaigns?.length >= 1">
                        <div class="row justify-content-end">
                            <button class="btn btn-primary mb-3 mr-3" data-toggle="modal" data-target="#addCompaign"> Add Compaign </button>
                        </div>
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Compaign Name</th>
                                    <th>Compaign Email</th>
                                    <th>Compaign Date</th>
                                    <th class="text-right pr-4">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let items of Compaigns;index as i">
                                    <td>{{i+1}}</td>
                                    <td id="routingtd" routerLink="/compaign/{{items?._id}}">{{items?.name | uppercase}}</td>
                                    <td>{{items?.email}}</td>
                                    <td>{{items?.compaigndate}}</td>
                                    <td class="text-right pr-5">
                                        <i class="fa fa-pencil mr-4" aria-hidden="true" (click)="singleOnclick(items._id)" data-toggle="modal" data-target="#UpdateModal"></i>
                                        <i class="fa fa-trash-o" aria-hidden="true" (click)="delete(items._id)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Add Compaign  Modal -->
<div class="modal fade" id="addCompaign" tabindex="-1" role="dialog" aria-labelledby="addCompaign" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="addCompaign">Add Compaign</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">

                    <div class="form-group col-12 col-md-12">
                        <label for="nam1">Name</label>
                        <input type="text" name="nam1" class="form-control" required [(ngModel)]="compForm.name">
                    </div>

                    <div class="form-group col-12 col-md-12">
                        <label for="nam1">Email</label>
                        <input type="email" class="form-control" name="email1" required [(ngModel)]="compForm.email">
                    </div>
                    <div class="form-group col-12 col-md-12">
                        <label for="nam1">Add Compaign Date</label>
                        <input type="date" min="{{todayDate}}" class="form-control" required name="compDate1" [(ngModel)]="compForm.compaigndate">
                    </div>



                </div>
                <div class="modal-footer date_footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary" (click)="submit()" value="save">
                    <input type="button" hidden data-dismiss="modal" id="add_Compaign_MOdal">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="UpdateModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="UpdateModal">Update Compaign</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group col-12 col-md-12">
                        <label for="name1">Compain Name</label>
                        <input type="text" placeholder="Name" id="name1" class="form-control" name="nam1" [(ngModel)]="UpdateForm.name">

                    </div>

                    <div class="form-group col-12 col-md-12">
                        <label for="email1">Compain  Email</label>
                        <input type="email" placeholder="Email" id="email1" class="form-control" name="em1" [(ngModel)]="UpdateForm.email">

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary" value="save" (click)="UpdateCompaign()">
                    <input type="button" hidden data-dismiss="modal" id="closeUpdateModel1">
                </div>
            </div>
        </form>
    </div>
</div>