.req {
    margin: 5px 0px 0px 0px;
    color: red !important;
    font-family: sans-serif;
}

.modal-content {
    min-height: 575px
}

.fa-sort {
    cursor: pointer;
}

.date_footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.fa-pencil {
    cursor: pointer;
}

.fa-trash-o {
    cursor: pointer;
}

td:focus {
    outline: none !important;
}

#routingtd {
    cursor: pointer;
}