.req {
    margin: 5px 0px 0px 0px;
    color: red !important;
    font-family: sans-serif;
}

#Search_Group {
    border: 1px solid #d0d0d0;
    border-radius: 4px !important;
}

#Search_Group #searchInput {
    border: none !important;
}

#Search_Group #searchInput:focus {
    outline: none !important;
    box-shadow: none !important;
}

#Search_Group .input-group-text {
    border: none !important;
}

.modal-content {
    min-height: 575px
}

.plus {
    background: #dedede;
}

.plus i {
    color: #3173ca;
}

.fa-sort {
    cursor: pointer;
}

.date_footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}